@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --rainbow-1: #f94144;
  --rainbow-2: #f3722c;
  --rainbow-3: #f8961e;
  --rainbow-4: #f9844a;
  --rainbow-5: #f9c74f;
  --rainbow-6: #90be6d;
  --rainbow-7: #43aa8b;
  --rainbow-8: #4d908e;
  --rainbow-9: #577590;
  --rainbow-0: #277da1;

  --body: #222;
  --white: #fff;
  --bg-white: #fff;
  --bg-surface: #f7f7f7;

  --box-shadow-colour: rgba(34, 34, 34, 0.2);

  --theme-dark: var(--rainbow-9);
  --theme-light: var(--rainbow-0);

  --variant-dark: var(--rainbow-7);
  --variant-light: var(--rainbow-8);

  --error: var(--rainbow-1);
  --success: var(--rainbow-6);

  --border-radius: 0.5rem;

  --block-padding: 1rem;

  --text-padding-x: 1rem;
  --text-padding-y: 0.5rem;
  --text-padding-x-large: 2rem;
  --text-padding-y-large: 1rem;

  --font-weight-thin: 100;
  --font-weight-standard: 300;
  --font-weight-large: 500;

  --font-size-h1: 30px;
  --font-size-h2: 20px;
  --font-size-text: 16px;
  --font-size-badge: 9px;

  --screen-max-width: 1200px;
  --backdrop-opacity: 0.3;

  --animation-duration: 100ms;

  --modal-width: 800px;
  --modal-height: 500px;

  --box-shadow: 0 0 40px var(--box-shadow-colour);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #f7f7f7;
    --white: #fff;
    --bg-white: #242424;
    --bg-surface: #2e2d2d;
    --box-shadow-colour: rgba(174, 174, 174, 0.2);
  }
}

@media screen and (max-width: 720px) {
  :root {
    --block-padding: 0.5rem;
  }
}

body {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-standard);
  font-family: var(--font-family);
  color: var(--body);
  background-color: var(--bg-white);
  margin: 0;
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: var(--backdrop-opacity);
  }
}

@keyframes fade-out {
  0% {
    display: block;
    opacity: var(--backdrop-opacity);
  }

  99% {
    display: block;
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes modal-fade-in {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modal-fade-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100px);
  }
}

@keyframes card-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes card-fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
